@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto+Flex:opsz@8..144&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
  --blue: #1e90ff;

}

* {
  margin: 0;
  padding: 0;
}

.roboto {
  font-family: 'Roboto Flex', sans-serif;
}

.Aclonica {
  font-family: 'Aclonica', sans-serif;
}

.roboto-serif {
  font-family: 'Roboto Serif', serif;
}